.no-resize {
  resize: none;
}

.add-dialog__tab-list span:first-child {
  margin-left: 0;
}

.add-dialog__tab-list span:last-child {
  margin-right: 0;
}

.groups-page__arrow {
  position: absolute;
}

@keyframes easeOutBounce {
  0% {
    top: 0;
    animation-timing-function: ease-out
  }
  5% {
    top: 16px;
    animation-timing-function: ease-in
  }
  7% {
    top: 0;
    animation-timing-function: ease-out
  }
  8% {
    top: 8px;
    animation-timing-function: ease-in
  }
  9% {
    top: 0;
    animation-timing-function: ease-out
  }
  10% {
    top: 2px;
    animation-timing-function: ease-in
  }
  11% {
    top: 0
  }
  100% {
    top: 0
  }
}
.jump {
  animation: easeOutBounce 10s infinite both
}

