.nav-menu__item {
  display: block;
  width: 100%;
  text-align: left;
  color: #234361;
  padding: 0 40px 0 10px;
  font-size: 14px;
  position: relative;
}
.active {
  font-weight: 700;
}
/*.active:before {*/
/*  content: '';*/
/*  height: 100%;*/
/*  width: 4px;*/
/*  background-color: transparent;*/
/*  border: 1px solid #c9c9c9;*/
/*  border-right: none;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
/*}*/
/*.active:after {*/
/*  content: '';*/
/*  height: 100%;*/
/*  width: 4px;*/
/*  background-color: transparent;*/
/*  border: 1px solid #c9c9c9;*/
/*  border-left: none;*/
/*  position: absolute;*/
/*  top: 0;*/
/*  right: 0;*/
/*}*/